:root{
  --purple-1: #7B61FF;
  --purple-2: #8356FF;
  --accent-yellow: #FFC857;
}

/* فقط gradient هدر و رنگ‌ها */
.site-header{
  background: linear-gradient(135deg, var(--purple-1), var(--purple-2));
  color: white;
  overflow: hidden;
  position: relative;
}
.header-wave path {
  fill: white;
}
